body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h1.cv-header{
    color: white;
    font-size: 25px;
    margin-top: 0px;
}

h2.panel-h2{
    color: white;
    font-size: 18px;
    margin-top: 0px;
}

h2.my-h2{
    color: #58056C;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

h3{
    color: #243B6B;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
}

h3.panel-h3{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
}

div.panel{
    background-color: #243B6B;
}

p.panel{
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #243B6B;
}

p{
    color: #243B6B;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
}

a{
    color: #243B6B;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
}

a.panel{
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #243B6B;
}

ul{
    color: #243B6B;
    font-size: 12px;
    list-style-type: disc;
    padding-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

ol{
    color: #243B6B;
    font-size: 12px;
    padding-left: 23px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.container{
    padding-bottom: 20px;
    padding-top: 20px
}

div.row{
    padding-top: 0px;
}

span.bold{
    color: #243B6B;
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
}

span.panel{
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #243B6B;
}